@using BlackJack.ViewModels.ViewModels
@model GameViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input hidden id="gameid" name="gameid" value=@Model.Id />
<div id="players">
    <div id="dealer">
        <input hidden id="dealergameplayerid" name="dealergameplayerid" value=@Model.Dealer.Id />
        <p>Dealer</p>
        <p>Name: @Model.Dealer.Name</p>
        <div id="dealergameplay">
            <p>Score: @Model.Dealer.Score</p>
        </div>
    </div>

    <div id="human">
        <input hidden id="humangameplayerid" name="humangameplayerid" value=@Model.Human.Id />
        <p>Human</p>
        <p>Name: @Model.Human.Name</p>
        <div id="humangameplay">
            <p>Score: @Model.Human.Score</p>
        </div>
    </div>

    <div id="bots">
        @{ int botCount = 0; }
        @foreach (var bot in Model.Bots)
        {
            <div id="bot">
                @{ string botGamePlayerId = $"botgameplayerid{++botCount}"; }
                <input hidden id=@botGamePlayerId value=@bot.Id />
                <p>Bot</p>
                <p>Name: @bot.Name</p>

                @{ string botGamePlay = $"botgameplay{botCount}"; }
                <div id=@botGamePlay>
                    <p>Score: @bot.Score</p>
                </div>
            </div>
        }
    </div>
</div>

<div id="gameplay">
    <label class="control-label col-md-3">Enter your bet: </label>
    <input type="number" id="betinput" class="form-control" step="50" min="50" value="50" max=@Model.Human.Score />
    <input type="button" name="betbutton" id="betbutton" value="Enter" />
</div>

<script src="~/Scripts/Round/RoundHendler.js"></script>