@using BlackJack.ViewModels.ViewModels
@model GameViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input hidden id="gameid" name="gameid" value=@Model.Id />
<div id="players">
    <div id="dealer">
        <input hidden id="dealergameplayerid" name="dealergameplayerid" value=@Model.Dealer.Id />
        <p>Dealer</p>
        <p>Name: @Model.Dealer.Name</p>
        <p>Score: @Model.Dealer.Score</p>
        <div id="dealercards"></div>
    </div>

    <div id="human">
        <input hidden id="humangameplayerid" name="humangameplayerid" value=@Model.Human.Id />
        <p>Human</p>
        <p>Name: @Model.Human.Name</p>
        <p>Score: @Model.Human.Score</p>
        <div id="humancards"></div>
    </div>

    <div id="bots">
        @if (Model.Bots[0] != null)
        {
            <div id="bot1">
                <input hidden id="bot1gameplayerid" name="bot1gameplayerid" value=@Model.Bots[0].Id />
                <p>Bot</p>
                <p>Name: @Model.Bots[0].Name</p>
                <p>Score: @Model.Bots[0].Score</p>
                <div id="bot1cards"></div>
            </div>
        }

        @if (Model.Bots[1] != null)
        {
            <div id="bot2">
                <input hidden id="bot2gameplayerid" name="bot2gameplayerid" value=@Model.Bots[1].Id />
                <p>Bot</p>
                <p>Name: @Model.Bots[1].Name</p>
                <p>Score: @Model.Bots[1].Score</p>
                <div id="bot2cards"></div>
            </div>
        }

        @if (Model.Bots[2] != null)
        {
            <div id="bot3">
                <input hidden id="bot3gameplayerid" name="bot3gameplayerid" value=@Model.Bots[2].Id />
                <p>Bot</p>
                <p>Name: @Model.Bots[2].Name</p>
                <p>Score: @Model.Bots[2].Score</p>
                <div id="bot3cards"></div>
            </div>
        }

        @if (Model.Bots[3] != null)
        {
            <div id="bot4">
                <input hidden id="bot4gameplayerid" name="bot4gameplayerid" value=@Model.Bots[3].Id />
                <p>Bot</p>
                <p>Name: @Model.Bots[3].Name</p>
                <p>Score: @Model.Bots[3].Score</p>
                <div id="bot4cards"></div>
            </div>
        }

        @if (Model.Bots[4] != null)
        {
            <div id="bot5">
                <input hidden id="bot5gameplayerid" name="bot5gameplayerid" value=@Model.Bots[4].Id />
                <p>Bot</p>
                <p>Name: @Model.Bots[4].Name</p>
                <p>Score: @Model.Bots[4].Score</p>
                <div id="bot5cards"></div>
            </div>
        }
    </div>
</div>

<div id="buttons">
    <input type="button" id="continueround" value="Continue round"/>
    <input type="button" id="takeaward" value="Take award"/>
    <input type="button" id="takeonemorecard" value="Take one more card"/>
    <input type="button" id="startnewround" value="Start new round"/>
</div>