@using BlackJack.ViewModels.ViewModels;
@using BlackJack.BusinessLogic.Helpers;
@model BlackJack.ViewModels.ViewModels.BetInputViewModel
@{
    ViewBag.Title = "Round start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Round start</h2>

@using (Html.BeginForm("RoundStart", "Game", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <h4>@Model.Game.Dealer.Player.Name (@Model.Game.Dealer.Player.PlayerType)</h4>
    <div class="form-group">
        @Html.Label(UiMessage._score, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Game.Dealer.Score, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <h4>@Model.Game.Human.Player.Name (@Model.Game.Human.Player.PlayerType)</h4>
    <div class="form-group">
        @Html.Label(UiMessage._score, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Game.Human.Score, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    foreach (GamePlayerStartViewModel bot in Model.Game.Bots)
    {
        <h4>@bot.Player.Name (@bot.Player.PlayerType)</h4>
        <div class="form-group">
            @Html.Label(UiMessage._score, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.Display(bot.Score.ToString(), new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    }

    <br />
    <div class="form-group">
        @Html.Label(InputMessage._betInput, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.HumanBet, new { htmlAttributes = new { @class = "form-control", type = "number", step = "50", min = "50", value = "50", max = Model.Game.Human.Score } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            @Html.HiddenFor(model => model.Game.Id)
            <input type="submit" name="Submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
}