@model string
@{
    Layout = null;
    ViewBag.Title = "Logs";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BlackJack</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/KendoUI/css")
    @Scripts.Render("~/bundles/KendoUI/js")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "AuthorizePlayer", "Start", new { userName = Model }, new { @class = "navbar-brand" })
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Game logs", "Index", "Log", new { userName = Model }, null)
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">
                        <b>Log in as: @Model</b>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Log out", "ValidateName", "Start")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <h2>Logs</h2>
        <div id="grid"></div>
        @Scripts.Render("~/bundles/KendoUI/Logs")
        <hr />
    </div>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>




